.mainContainer{
  background-color: rgb(3,1,5);
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer h2{
  color:#fff
}

.nombre2{
  opacity: 0.2;
  line-height: 1.7;
  border-bottom: 1px solid #fff;
  transform: rotateX(180deg);
 
}