@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;700&family=Montserrat&display=swap');

:root{
  --main-font:'Georama', sans-serif;
  --sub-font:'Montserrat', sans-serif;
  --main-color: rgb(100,42,185);
  --main-shadow: rgba(100,42,185,0.2);
}
html{
  scroll-behavior: smooth;
}

*{
  font-family: var(--sub-font) !important;
}

body{
  background-color: rgb(245,238,245) !important;
}


/* ANIMACIONES */

.fade-in{
  animation: FadeIn 8s;
}

.fade-in-from-right{
  animation: FadeIn-from-right 3s;
}

.fade-in-from-left{
  animation: FadeIn-from-left 3s;
}

.type-animation {

  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-size: 2.1em;
  margin-top: 50px;
}


@keyframes typing {
  from {
      opacity: 0;
      width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes FadeIn{
  from {
      opacity:0;
  }
  to{
      opacity: 1;
  }
}

@keyframes FadeIn-from-right{
  from {
      opacity:0;
      transform: translateX(300px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes FadeIn-from-left{
  from {
      opacity:0;
      transform: translateX(-300px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}